<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../css/lib/base.css">
</head>
<body>
<div class="header"></div>
<!-- home start-->
<div class="page out" id="home">
    <div class="content">
    	<div class="top-bg"></div>
    	<ul class="menu">
    		<li class="incoco"><a href="#incoco"><b class="u-i"></b>盈可儿</a></li>
    		<li class="website"><a href="#website"><b class="u-i"></b>官网</a></li>
    		<li class="charity"><a href="#charity"><b class="u-i"></b>公益</a></li>
    	</ul>
    </div>
</div>
<!-- home end-->

<div class="page out" id="incoco">
incoco
</div>
<div class="page out" id="website">
website
</div>
<div class="page out" id="charity">
charity
</div>
<!-- public -->
<script src="../js/lib/iscroll-lite.js"></script>
<script src="../js/lib/mb.js"></script>
<!-- my -->
<script src="../js/app/incoco.js"></script>
</body>
</html>