<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <link rel="stylesheet" href="../css/lib/app.min.css">
</head>
<body>
<!-- home start-->
<div class="app-page" data-page="home">
    <div class="app-topbar"></div>
    <div class="app-content"></div>
</div>
<!-- home end-->


<!-- put your pages here -->
<script src="../js/lib/zepto.min.js"></script>
<script src="../js/lib/app.min.js"></script>
</body>
</html>